

body {
    background-image: linear-gradient(to right top, #9AF6FB, #7096F8);
    min-height: 100vh
}

.wrapper {
    max-width: 760px;
    margin: 50px auto;
    padding: 40px 20px
}

.wrapper .search {
    border: 1px solid #c8c8c8;
    overflow: hidden;
    border-radius: 25px;
    padding: 0 10px;
    margin: 15px 0 20px;
    transition: all 0.3s
}

.wrapper .search:hover,
.wrapper .search:focus-within {
    border: 1px solid transparent;
    box-shadow: 2px 5px 8px #1f1f1f10, 0px -4px 5px #1f1f1f10
}

.wrapper .search .form-control {
    box-shadow: none;
    outline: none;
    border: none
}

.wrapper .search .form-control:focus::placeholder {
    opacity: 0
}

.wrapper .accordion-button {
    font-size: 0.9rem;
    font-weight: 500
}

.wrapper .accordion-button:hover {
    background-color: #f8f8f8
}

.wrapper .accordion-button:focus {
    box-shadow: none
}

.wrapper .accordion-button::after {
    background-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c8c8c8;
    background-position: center center;
    border-radius: 50%
}

.wrapper .accordion-button:not(.collapsed) {
    color: #000;
    background-color: #f7f7f7;
    font-weight: 600;
    border-bottom: 1px solid #ddd !important
}

.accordion-button:not(.collapsed)::after {
    border-color: #1E88E5
}

.wrapper .accordion-button.collapsed {
    border-bottom: 1px solid #ddd !important
}

.wrapper .accordion-collapse.show {
    border-bottom: 1px solid #ddd !important
}

.wrapper .accordion-collapse {
    background-color: #eaf3fa
}

.wrapper .accordion-collapse ul li {
    line-height: 2rem;
    width: 100%;
    padding: 0.5rem 1.3rem
}

.wrapper .accordion-collapse ul li:hover {
    background-color: #c9e7ff
}

.wrapper .accordion-collapse ul li  {
    text-decoration: none;
    color: #333;
    font-size: 0.85rem;
    font-weight: 400;
    display: block
}

.wrapper .accordion-collapse ul li:hover  {
    color: #222
}

@media (max-width: 777px) {
    .wrapper {
        margin: 50px 20px
    }
}

@media (max-width: 365px) {
    .wrapper {
        margin: 50px 10px
    }

    .w-75 {
        width: 90% !important
    }
}
















































/**/
/**/
/*tabbbbs*/
/*
*
/


/*a:hover,
a:focus{
    text-decoration: none;
    outline: none;
}
.tab{
    font-family: 'Titillium Web', sans-serif;
    padding: 10px;
    border-top: 10px;
    height: 250px;
    overflow: none;
   

}
.tab .nav-tabs{
    padding: 0;
    margin: 0;
    border: none;

}   
.tab .nav-tabs li a{
    color: #darkyellow;
    background: #444;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 10px 15px;
    margin: 0 0 1px 0;
    border: none;
    border-top: 10px solid #383838;
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a:hover{
    color: #fff;
    background: #383838;
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
    text-shadow: 0 0 10px #002839;
    border: none;
    border-top: 10px solid #002839;
}
.tab .tab-content{
    color: #fff;
    background: #444;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 15px 20px;
*/   /* border-bottom: 20px solid #002839;*/
   /* border-radius: 0 0 10px 10px;
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs{
        padding: 0;
        margin: 0 0 5px;
    }
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
    }
    .tab .nav-tabs li a{
        margin: 0 0 5px; 
        border-radius: 0;
    }
}

  */
